.trickdetail {
  &-container {
    padding-top: 8rem;
    .container {
      font-size: 1.5rem;
    }
  }
  &-heading {
    text-align: center !important;
    font-size: 4rem;
  }
  &-author {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
  &-des {
    padding-top: 2rem;
  }
}
.blog-image-cover {
  background-image: url(../../../../Asset/image/blogcover2.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(224, 220, 220, 0.101),
      rgba(0, 0, 0, 0.74)
    );
    height: 70vh;
  }
}
