.trickdetail {
  &-container {
    padding-top: 8rem;
    .container {
      font-size: 1.5rem;
    }
  }
  &-heading {
    text-align: center;
    font-size: 4rem;
  }
  &-author {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
  &-des {
    padding-top: 2rem;
  }
}
