.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
@media only screen and (min-width: 992px) {
  .navbarContainter {
    display: flex !important;
    height: 8rem;
    .navbarLogo {
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
    }
  }
  .offcanvas {
    justify-self: center !important;
  }
  .offcanvas-body {
    justify-content: center;
  }
  .navbar-nav {
    gap: 6.4rem;
  }
  .navbar__link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    &:hover {
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 0.3rem;
        background: #008c4f;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
      }
    }
  }
  .navbar__link.active {
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 0.3rem;
      background: #008c4f;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
    }
  }
  .navbarLogo {
    padding: 3.15rem 0 3.15rem 8rem;
    margin-right: 0rem;
    flex-grow: 1;
  }
}
.navbar__link {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #333 !important;
  font-weight: 700;
  line-height: 2rem;
}
.lumiLogo {
  width: 15rem !important;
}
@media (max-width: 992px) {
  .navbar-toggler-icon {
    font-size: 2rem;
  }
  button.navbar-toggler.collapsed {
    border: none;
  }
  .btn-close {
    font-size: 3.5rem;
  }
}
