.Footer-Container--Logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Footer-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}
.Footer-Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Footer-detail {
    color: #333 !important;
  }
}
.Footer-Description p {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.07rem;
}
.footer-relative {
  position: relative !important;
}
