.Footer-Container--Logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Footer-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}
.Footer-Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Footer-detail {
    color: #008c4f !important;
    font-weight: 700;
  }
}
.Footer-Description p {
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 700;
  color: #008c4f;
  letter-spacing: 0.07rem;
}
.footer-relative {
  position: relative !important;
}
