.recruitmenttextinfor-container {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  width: 65vw;
  li {
    padding-bottom: 2rem;
    p:first-child {
      font-size: 2rem;
      color: #008c4f;
      font-weight: 600;
    }
    P:last-child {
      font-size: 1.6rem;
    }
  }
}
@media (max-height: 800px) {
  // Recruit
  .recruitmenttextinfor-container li P:last-child {
    font-size: 1.6rem !important;
  }
  .recruitmenttextinfor-container li p:first-child {
    font-size: 2rem;
    color: #008c4f;
    font-weight: 600;
  }
}
