.RecruitmentProcess-Container,
.SectionContainer {
  display: flex;
  flex-direction: column;
}
.RecruitmentProcess-Container {
  padding-top: 10rem;
  gap: 10rem;
  position: relative;
}
.Process-Containers {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
.Process-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Process-Image {
  width: 8rem;
  height: 9rem;
}
.Process-Description {
  font-size: 2.2rem;
  font-weight: 700;
}
.Process-Arrow {
  width: 11.4rem;
  height: 2rem;
}
.vector {
  position: absolute;
  top: 0;
}
.rotate {
  transform: rotate(0.5turn);
}
.Process-Image.Process-Image-ChangeSize {
  width: 10rem !important;
  height: 9rem !important;
}
