h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
#section1 {
  color: #fff;
}
.section {
  height: 100vh !important;
  &-half {
    height: 30vh !important;
  }
}
.imagesInternCarousel1 {
  background-image: url(../../Asset/image/cover11.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.imagesInternCarousel2 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .RecruitRoadmapImg {
    width: 80vw;
  }
}
.imagesInternCarousel3 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
// .imagesInternCarousel4 {
//   background-image: url(../../Asset/image/cover13.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
// }
.fp-section {
  text-align: center;
}
.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}
