.TrainingProcessDetail {
  text-align: left !important;
  overflow: scroll;
  height: 60vh;
  margin-top: 5rem;
  width: 70vw !important;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
    color: #008c4f;
    margin-bottom: 0rem;
  }
  p {
    font-size: 1.6rem;
  }
  li {
    font-size: 1.6rem;
  }
}
