.TrickCard {
  &-Container {
    border: none !important;
  }
  &-Image {
    object-fit: cover;
  }

  &-Heading {
    height: 8rem;
    padding: 1.5rem 0rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #333;
  }
  &-Description {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
    height: 6rem;
    color: #333;
    text-decoration: none !important;
  }
  &-Body {
    padding: 0 !important;
  }
  &-Date {
    padding: 2rem 0 2rem 0;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: #a4a6a8;
  }
}
